<% content_for(:body_attributes) do %>
  data-turbolinks="false"
<% end %>
<div id="wrapper">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="#">Lessons</a>
      </li>
      <% @lessons.each_with_index do |lesson, index| %>
        <% if lesson.header %>
          <% if index != 0 %></ul></li><% end %>
          <li class="dropdown">
          <a href="#" data-toggle="dropdown"><i class="fa fa-graduation-cap"> <%= lesson.title %></i><span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
          <li class="dropdown-header" style="text-align: center";><i class="fa fa-angle-double-up fa-2x" aria-hidden="true"></i></li>
          <% else %>
          <li>
            <%= link_to [lesson.course, lesson, lesson.first_component], :"data-turbolinks" => false do %>
              <%= lesson.title %>
            <% end %>
          </li>
        <% end %>
      <% end %>
      <% if !@lessons.empty? %></ul></li><% end %>
    </ul>
  </div>

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="row">
      <div class="col-md-1">
        <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
          <span class="hamb-top"></span>
          <span class="hamb-middle"></span>
          <span class="hamb-bottom"></span>
        </button>
      </div>
      <div class="col-md-8 mt-3 mb-3">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-md-3">
                <% if @prev_lesson %>
                  <%= link_to get_previous_lesson_url, class: "btn btn-outline-info btn-md btn-block pull-left btn-previous", 'data-toggle': 'tooltip', 'data-placement':'top', title: @prev_lesson.title do %>
                    <i class="fa fa-chevron-left" style="margin-right: 15px;" aria-hidden="true"></i>Previous
                  <% end %>
                <% else %>
                  <button class="btn btn-outline-info btn-md btn-block pull-left disabled" disabled>
                    <i class="fa fa-chevron-left" style="margin-right: 15px;" aria-hidden="true"></i>Previous
                  </button>
                <% end %>
              </div>
              <div class="col-md-6">
                <h4 class="text-center"><%= @lesson.long_title %></h4>
              </div>
              <div class="col-md-3">
                <% if @next_lesson %>
                  <%= link_to get_next_lesson_url, class: "btn btn-outline-info btn-md btn-block pull-left btn-next", 'data-toggle': 'tooltip', 'data-placement':'top', title: @next_lesson.title do %>
                    Next<i class="fa fa-chevron-right" style="margin-left: 15px;" aria-hidden="true"></i>
                  <% end %>
                <% else %>
                  <button class="btn btn-outline-info btn-md btn-block pull-right disabled" disabled>
                    Next<i class="fa fa-chevron-right" style="margin-left: 15px;" aria-hidden="true"></i>
                  </button>
                <% end %>
              </div>
            </div>
          </div>
          <div class="card-block">
            <% if @components.count > 1 %>
              <ul class="nav nav-tabs nav-fill" role="tablist" style="margin-bottom: 10px;">
                <% @components.each do |component| %>
                  <% name = component.name.split(" ").join("-").downcase %>
                  <li class="nav-item">
                    <% class_name = get_component_class(component) %>
                    <% url = get_component_url(component) %>
                    <a class="<%= class_name %>" href="<%= url %>"><%= component.name %></a>
                  </li>
                <% end %>
              </ul>
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active show" id="<%= @component.name.split(" ").join("-").downcase %>">
                  <%= render 'components/select' %>
                </div>
              </div>
            <% else %>
              <%= render 'components/select' %>
            <% end %>
          </div>
        </div>
      </div>
      <% if @component.componentable_type == 'Video' %>
        <div class="col-md-3 mt-3 mb-3">
          <div class="card">
            <div class="card-header text-center">
              <h4 class="card-title">Translation</h4>
            </div>
            <div class="card-block" style="min-height: 200px;">
              <blockquote class="card-blockquote">
                <div id="dictionary"></div>
              </blockquote>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
  var trigger = $('.hamburger'), isClosed = false;
  trigger.click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
    hamburger_cross();
  });
  function hamburger_cross() {
    if (isClosed == true) {
      trigger.removeClass('is-open');
      trigger.addClass('is-closed');
      isClosed = false;
    } else {
      trigger.removeClass('is-closed');
      trigger.addClass('is-open');
      isClosed = true;
    }
  }
  // Add slideDown animation to Bootstrap dropdown when expanding.
  $('.dropdown').on('show.bs.dropdown', function() {
    $(this).find('.dropdown-menu').first().stop(true, true).slideDown();
  });

  // Add slideUp animation to Bootstrap dropdown when collapsing.
  $('.dropdown').on('hide.bs.dropdown', function() {
    $(this).find('.dropdown-menu').first().stop(true, true).slideUp();
  });

  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
