<div class="row">
  <div class="wrapper mt-3 mb-3">
    <% @courses.each do |course| %>
      <div class="tile job-bucket">
        <div class="front">
          <div class="contents">
            <%= image_tag course.image(:medium), :class => "card-img-top img-responsive" %>
            <h5 class="card-title text-gray-dark"><%= course.shortname %></h5>
            <br>
            <p><%= course.content %></p>
          </div>
        </div>
        <div class="back">
          <h5><%= course.shortname %></h5>
          <%= link_to course, :class => "card-link" do %>
          <p>Lessons</p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
