<div class="row justify-content-md-center">
  <div class="col-md-3 mt-4 mb-4">
    <div class="card text-center">
      <% if !@joined %>
        <div class="card-header">
          <h4 class="card-title"><%= @course.name %></h4>
        </div>
        <div class="card-block">
          <% if user_signed_in? %>
            <%= form_tag enroll_path do %>
              <%= hidden_field_tag 'course_id', @course.id %>
              <button type="submit" class="btn btn-primary">Take this Course</button>
            <% end %>
          <% else %>
            <%= link_to new_user_session_path do %>
              <button type="submit" class="btn btn-primary">Take this Course</button>
            <% end %>
          <% end %>
        </div>
      <% else %>
        <div class="card-header">
          <%= image_tag avatar_url(current_user), class: "img-circle", style: "margin-bottom: 5px;" %>
          <h5><%= current_user.first_name + " " + current_user.last_name %></h5>
        </div>
        <div class="list-group">
          <% @users.each do |u| %>
            <div class="list-group-item" style="text-align:left;padding:0.5rem">
              <%= image_tag avatar_url(current_user), class: "img-circle" %>&nbsp;
              <%= u.first_name + " " + u.last_name %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-md-6 mt-4 mb-4">
    <div class="card">
      <%= image_tag @course.image(:medium), :class => "card-img-top img-responsive" %>
      <div class="card-block">
        <h4 class="card-title"><%= @course.name %></h4>
        <hr>
        <p class="card-text"><%= @course.content %></p>
        <div class="list-group">
          <% @lessons.each do |lesson| %>
            <% if lesson.header %>
              <div class="list-group-item active">
                <i class="fa fa-graduation-cap"> <%= lesson.title %></i>
              </div>
            <% else %>
              <%= link_to [lesson.course, lesson], :class => "list-group-item list-group-item-action", :"data-turbolinks" => false do %>
                <%= lesson.title %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
