<%= stylesheet_link_tag "video-js" %>
<%= stylesheet_link_tag "custom-videojs-player" %>
<%= stylesheet_link_tag "videojs-transcript" %>

<div class="row">
  <div class="col-md-3 mt-4 mb-4">
    <div class="card">
      <div class="card-block">
        <% @lessons.each do |lesson| %>
          <% if lesson.header %>
            <div class="list-group-item active">
              <i class="fa fa-graduation-cap"> <%= lesson.title %></i>
            </div>
          <% else %>
            <%= link_to [lesson.course, lesson], :class => "list-group-item list-group-item-action" do %>
              <%= lesson.title %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-9 mt-4 mb-4">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"><%= @lesson.title %></h4>
      </div>
      <div class="card-block">
        <div class="row">
          <div class="col-md-8" id="video-content">
            <video crossdomain id="video1" class="video-js vjs-default-skin" controls preload="auto" data-setup='{"playbackRates": [0.5, 1, 1.5, 2], "fluid": true}'>
              <source src="/assets/videos/clip1.mp4" type="video/mp4" />
              <track id="default" label="Chinese" kind="captions" srclang="zh-Hans" src="/assets/subtitles/Chinese.vtt">
              <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a web browser that
                <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
              </p>
            </video>
            <div id="subtitle-display"></div>
          </div>
          <div class="col-md-4" id="transcript"></div>
        </div>
        <hr>
        <p class="card-text"><%= @lesson.note %></p>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  setTimeout(function () {
    updateCaption('video1', 'Chinese', 'subtitle-display');
  }, 0);
  window.addEventListener('resize', function() {
    $("#transcript").css({'height':(($("#video-content").height()-160)+'px')});
    $(".transcript-body").css({'height':(($("#video-content").height()-210)+'px')});
  }, true);
</script>
